.form {
    display: grid;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    width: 100%;
}

.text-input{
    border-bottom: none !important;
    border-radius: 5px !important;
    padding-left: 10px !important;
    background-color: #ffffff !important;
    width: 100% !important;
    height: 57px;
}

.text-input:focus{
    /*border-bottom: none !important;*/
    border-radius: 5px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #ffffff !important;
    border: 1.5px solid rgba(0, 0, 0, 0.5) !important;
}

.button {
    background-color: rgba(0, 0,0, 0.7);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0,0, 0.7);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover
{
    background-color: rgba(0, 0,0, 0.85);
}

.card--desc {
    font-size: 1rem;
}

@media (min-width:786px){
    .form{
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        align-items: center;
    }
    .input{
        margin-bottom: 0;
        margin-top: 5px;
    }
   
}
@media(max-width:640px){
   
    .card--desc{
        font-size: 0.7rem;
        word-spacing: 0.03rem;
        line-height: 1.2rem;
    }
    .card--title{
        font-size: 1rem;
    }
    p,small:not(.card--desc){
        font-size: 0.7rem;
        color: black;
        font-style: normal;
    }
    .card--title{
        font-size: 1.5rem;
    }
}  

.card--list{
    margin-top:4rem ;
}
.card {
    /*width: 100%;*/
    /*background-color: #fff;*/
    /*padding: 2rem 4rem;*/
    border-radius: 10px;
    /*margin-bottom: 2rem;*/
    /*box-shadow: 1px 1px 5px rgba(0, 0,0, 0.25);*/
}

.card-image img{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.car--title{
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
}

.card--image {
    margin: 0 auto;
    display: block;
}
.card--content
{
    width: 100%;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

.column .card {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}